 .about {

   &--main-content {
     margin-top: -60px;

     @include desktop {
       margin-top: 20px;
     }

     @include xxlarge {
       margin-top: -60px;
     }

     p, h2 {
       color: white;
     }

     h2 {
       margin-top: 150px;
       margin-bottom: 85px;
       font-family: $fontheader;
       font-size: 2.313rem;
       font-weight: 700;
       letter-spacing: 0.058rem;
       padding-left: 80px;
       padding-right: 130px
     }

     p {
       margin-bottom: 30px;
       font-family: $fontsubheader;
       font-size: 1.438rem;
       font-weight: 500;
       padding-left: 80px;
       padding-right: 130px;
     }


     &__item-img {

      background-size: cover !important;
      background-position: center !important;
      height: 822px;
      position: relative;

      @include mobile {
        height: 400px;
      }

      @include mobileland {
        height: 800px;
      }

      img {
        position: absolute;
        top: 20%;
        right: 0;

        @include mobile {
          display: none;
        }
      }
     }

     @include mobile {
       margin-top: 25px;

       h2, p {
         padding-left: 20px;
         padding-right: 20px;
       }

       h2 {
         margin-top: 40px;
         margin-bottom: 40px;
         font-size: 3rem;
       }

       p {
         font-size: 1.25rem;
         line-height: 1.5;
       }

     }

     @include mobileland {
       margin-top: 50px;
     }

     @include desktop {
       p, h2 {
         padding-left: 50px;
         padding-right: 50px;
       }
       h2 {
         margin-bottom: 20px;
       }
       p {
         font-size: 1.35rem;
       }
     }

     @include fullhd {
       p, h2 {
         padding-left: 80px;
         padding-right: 80px;
       }

       p {
         font-size: 1.45rem;
       }
     }

     @include xxlarge {
       p, h2 {
         padding-left: 80px;
         padding-right: 130px
       }
       p {
         font-size: 1.438rem;
       }
     }

   } // end main-content
 }
