.quote--header {
  height: 47.125rem;
  background-color: #423629;

  h3 {
    margin-top: 100px;
    margin-bottom: 80px;
  }

  p {
    font-size: 1.75rem;
    font-weight: 500;

    em {
      font-size: 1.438rem;
      font-weight: 600;
    }
  }
}
