.product-img {
  background: url('~assets/img/rough_timber_bg.jpg');
  height: 42.438rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.product-item-card-img {
  height: 56.188rem;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;


  @include mobileport {
    height: 40rem;
  }

  @include iphoneFive {
    height: 30rem;
  }
  
  @include tabletport {
    height: 50rem;
  }
  @include widescreen-only {
    height: 45rem;
  }
}

.card-content {
  @include iphoneFive {
    padding: 0.4rem;
  }
  @include mobileport {
    padding: 0.8rem;
  }
}
